
 <app-hero-section></app-hero-section>
 <app-preferences-card-section></app-preferences-card-section>
 <app-destination-section></app-destination-section>
 <app-benefit-section></app-benefit-section>
 <app-popular-tours-section></app-popular-tours-section>
 <app-benefit-section-2-section></app-benefit-section-2-section>
<!--<app-trending-places-section></app-trending-places-section>-->
<!-- <app-about-section-section></app-about-section-section>-->
<!--<app-our-expert-section></app-our-expert-section>-->
<!--<app-client-section></app-client-section>-->
<!--<app-update-section></app-update-section>-->
<app-faq-section></app-faq-section>
<app-blog-section [routes]="blogRoutes"></app-blog-section>
        
<app-support-slider-section></app-support-slider-section>


