# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.cproject
.settings
.vscode
.nbproject
.settings
*.swp
*.bak
*.tmp

# Operating System
.DS_Store
Thumbs.db

# Angular CLI
.angular
