<section class="section destination-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-10 text-center aos" data-aos="fade-up" data-aos-duration="2000">
        <div class="section-header text-center">
          <h2 class="mb-2">
            Search by <span class="text-primary text-decoration-underline">Destinations</span> Around the World
          </h2>
          <p class="sub-title">
            DreamsTour Marketplace is a platform designed to connect fans with exclusive experiences related to a specific tour
          </p>
        </div>
      </div>
    </div>

    <div class="destination-slider nav-center">
      <div class="owl-carousel owl-theme owl-loaded owl-responsive owl-drag row">

        @for (c of store.cards(); track trackById($index, c)) {
          <div class="col-lg-3 col-md-6">
            <app-destination-card [card]="c"></app-destination-card>
          </div>
        }

      </div>
    </div>

    <div class="text-center view-all aos">
      <a [routerLink]="routes.destination" class="btn btn-dark d-inline-flex align-items-center">
        View All Locations <i class="isax isax-arrow-right-3 ms-2"></i>
      </a>
    </div>
  </div>
</section>