<div class="card border-0">
    <div class="card-body d-flex align-items-center justify-content-between flex-wrap row-gap-2">
        <div>
            <h5 class="mb-1">Listings</h5>
            <p>No of  Listings : 200</p>
        </div>
       <div>
        <a [routerLink]="routes.addFlight" class="btn btn-primary d-inline-flex align-items-center me-0"><i class="isax isax-add me-1 fs-16"></i>Add Listing</a>
       </div>
    </div>
</div>
<div class="row justify-content-center">

    <!-- Flight Grid -->
    <div class="col-xxl-4 col-md-6 d-flex">
        <div class="place-item mb-4 flex-fill">
            <div class="place-img">
                <a [routerLink]="routes.flightDetails">
                    <img src="assets/img/flight/flight-09.jpg" class="img-fluid" alt="img">
                </a>
                <div class="edit-delete-item d-flex align-items-center">
                    <a [routerLink]="routes.editFlight" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div class="place-content">
                <h5 class="text-truncate mb-1"><a [routerLink]="routes.flightDetails">Antonov An-32</a></h5>
                <div class="d-flex align-items-center mb-2">
                    <span class="avatar avatar-sm me-2">
                        <img src="assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                    </span>
                    <p class="fs-14 mb-0 me-2">Air India</p>
                    <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Texas</p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-top pt-3">
                    <div class="d-flex flex-wrap align-items-center me-2">
                        <h5 class="text-primary">$500 <span class="fs-14 text-gray-6 fw-normal">/ day</span></h5>
                    </div>
                    <div class="d-flex align-items-center lh-1">
                        <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Flight Grid -->

    <!-- Flight Grid -->
    <div class="col-xxl-4 col-md-6 d-flex">
        <div class="place-item mb-4 flex-fill">
            <div class="place-img">
                <a [routerLink]="routes.flightDetails">
                    <img src="assets/img/flight/flight-08.jpg" class="img-fluid" alt="img">
                </a>
                <div class="edit-delete-item d-flex align-items-center">
                    <a [routerLink]="routes.editFlight" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div class="place-content">
                <h5 class="text-truncate mb-1"><a [routerLink]="routes.flightDetails">SkyBound 102</a></h5>
                <div class="d-flex align-items-center mb-2">
                    <span class="avatar avatar-sm me-2">
                        <img src="assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                    </span>
                    <p class="fs-14 mb-0 me-2">Indigo</p>
                    <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Dubai</p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-top pt-3">
                    <div class="d-flex flex-wrap align-items-center me-2">
                        <h5 class="text-primary">$600 <span class="fs-14 text-gray-6 fw-normal">/ day</span></h5>
                    </div>
                    <div class="d-flex align-items-center lh-1">
                        <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Flight Grid -->

    <!-- Flight Grid -->
    <div class="col-xxl-4 col-md-6 d-flex">
        <div class="place-item mb-4 flex-fill">
            <div class="place-img">
                <a [routerLink]="routes.flightDetails">
                    <img src="assets/img/flight/flight-06.jpg" class="img-fluid" alt="img">
                </a>
                <div class="edit-delete-item d-flex align-items-center">
                    <a [routerLink]="routes.editFlight" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div class="place-content">
                <h5 class="text-truncate mb-1"><a [routerLink]="routes.flightDetails">Nimbus 345</a></h5>
                <div class="d-flex align-items-center mb-2">
                    <span class="avatar avatar-sm me-2">
                        <img src="assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                    </span>
                    <p class="fs-14 mb-0 me-2">Indigo</p>
                    <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Dubai</p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-top pt-3">
                    <div class="d-flex flex-wrap align-items-center me-2">
                        <h5 class="text-primary">$300 <span class="fs-14 text-gray-6 fw-normal">/ day</span></h5>
                    </div>
                    <div class="d-flex align-items-center lh-1">
                        <a href="#active_list" data-bs-toggle="modal" class="d-flex align-items-center text-danger"><i class="isax isax-info-circle me-1"></i>Inactive</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Flight Grid -->

    <!-- Flight Grid -->
    <div class="col-xxl-4 col-md-6 d-flex">
        <div class="place-item mb-4 flex-fill">
            <div class="place-img">
                <a [routerLink]="routes.flightDetails">
                    <img src="assets/img/flight/flight-01.jpg" class="img-fluid" alt="img">
                </a>
                <div class="edit-delete-item d-flex align-items-center">
                    <a [routerLink]="routes.editFlight" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div class="place-content">
                <h5 class="text-truncate mb-1"><a [routerLink]="routes.flightDetails">AstraFlight 215</a></h5>
                <div class="d-flex align-items-center mb-2">
                    <span class="avatar avatar-sm me-2">
                        <img src="assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                    </span>
                    <p class="fs-14 mb-0 me-2">Indigo</p>
                    <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Frankfurt</p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-top pt-3">
                    <div class="d-flex flex-wrap align-items-center me-2">
                        <h5 class="text-primary">$300 <span class="fs-14 text-gray-6 fw-normal">/ day</span></h5>
                    </div>
                    <div class="d-flex align-items-center lh-1">
                        <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Flight Grid -->

    <!-- Flight Grid -->
    <div class="col-xxl-4 col-md-6 d-flex">
        <div class="place-item mb-4 flex-fill">
            <div class="place-img">
                <a [routerLink]="routes.flightDetails">
                    <img src="assets/img/flight/flight-02.jpg" class="img-fluid" alt="img">
                </a>
                <div class="edit-delete-item d-flex align-items-center">
                    <a [routerLink]="routes.editFlight" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div class="place-content">
                <h5 class="text-truncate mb-1"><a [routerLink]="routes.flightDetails">Cloudrider 789</a></h5>
                <div class="d-flex align-items-center mb-2">
                    <span class="avatar avatar-sm me-2">
                        <img src="assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                    </span>
                    <p class="fs-14 mb-0 me-2">Air India</p>
                    <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Dallas</p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-top pt-3">
                    <div class="d-flex flex-wrap align-items-center me-2">
                        <h5 class="text-primary">$550 <span class="fs-14 text-gray-6 fw-normal">/ day</span></h5>
                    </div>
                    <div class="d-flex align-items-center lh-1">
                        <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Flight Grid -->

    <!-- Flight Grid -->
    <div class="col-xxl-4 col-md-6 d-flex">
        <div class="place-item mb-4 flex-fill">
            <div class="place-img">
                <a [routerLink]="routes.flightDetails">
                    <img src="assets/img/flight/flight-03.jpg" class="img-fluid" alt="img">
                </a>
                <div class="edit-delete-item d-flex align-items-center">
                    <a [routerLink]="routes.editFlight" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div class="place-content">
                <h5 class="text-truncate mb-1"><a [routerLink]="routes.flightDetails">Aether Express 901</a></h5>
                <div class="d-flex align-items-center mb-2">
                    <span class="avatar avatar-sm me-2">
                        <img src="assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                    </span>
                    <p class="fs-14 mb-0 me-2">Indigo</p>
                    <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Seoul</p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-top pt-3">
                    <div class="d-flex flex-wrap align-items-center me-2">
                        <h5 class="text-primary">$450 <span class="fs-14 text-gray-6 fw-normal">/ day</span></h5>
                    </div>
                    <div class="d-flex align-items-center lh-1">
                        <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Flight Grid -->

    <!-- Flight Grid -->
    <div class="col-xxl-4 col-md-6 d-flex">
        <div class="place-item mb-4 flex-fill">
            <div class="place-img">
                <a [routerLink]="routes.flightDetails">
                    <img src="assets/img/flight/flight-07.jpg" class="img-fluid" alt="img">
                </a>
                <div class="edit-delete-item d-flex align-items-center">
                    <a [routerLink]="routes.editFlight" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div class="place-content">
                <h5 class="text-truncate mb-1"><a [routerLink]="routes.flightDetails">Voyager 658</a></h5>
                <div class="d-flex align-items-center mb-2">
                    <span class="avatar avatar-sm me-2">
                        <img src="assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                    </span>
                    <p class="fs-14 mb-0 me-2">Air India</p>
                    <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Sydney</p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-top pt-3">
                    <div class="d-flex flex-wrap align-items-center me-2">
                        <h5 class="text-primary">$350 <span class="fs-14 text-gray-6 fw-normal">/ day</span></h5>
                    </div>
                    <div class="d-flex align-items-center lh-1">
                        <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Flight Grid -->

    <!-- Flight Grid -->
    <div class="col-xxl-4 col-md-6 d-flex">
        <div class="place-item mb-4 flex-fill">
            <div class="place-img">
                <a [routerLink]="routes.flightDetails">
                    <img src="assets/img/flight/flight-04.jpg" class="img-fluid" alt="img">
                </a>
                <div class="edit-delete-item d-flex align-items-center">
                    <a [routerLink]="routes.editFlight" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div class="place-content">
                <h5 class="text-truncate mb-1"><a [routerLink]="routes.flightDetails">Silverwing 505</a></h5>
                <div class="d-flex align-items-center mb-2">
                    <span class="avatar avatar-sm me-2">
                        <img src="assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                    </span>
                    <p class="fs-14 mb-0 me-2">Air India</p>
                    <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at London</p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-top pt-3">
                    <div class="d-flex flex-wrap align-items-center me-2">
                        <h5 class="text-primary">$700 <span class="fs-14 text-gray-6 fw-normal">/ day</span></h5>
                    </div>
                    <div class="d-flex align-items-center lh-1">
                        <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Flight Grid -->

    <!-- Flight Grid -->
    <div class="col-xxl-4 col-md-6 d-flex">
        <div class="place-item mb-4 flex-fill">
            <div class="place-img">
                <a [routerLink]="routes.flightDetails">
                    <img src="assets/img/flight/flight-05.jpg" class="img-fluid" alt="img">
                </a>
                <div class="edit-delete-item d-flex align-items-center">
                    <a [routerLink]="routes.editFlight" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div class="place-content">
                <h5 class="text-truncate mb-1"><a [routerLink]="routes.flightDetails">Altair 333</a></h5>
                <div class="d-flex align-items-center mb-2">
                    <span class="avatar avatar-sm me-2">
                        <img src="assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                    </span>
                    <p class="fs-14 mb-0 me-2">Air India</p>
                    <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Los Angeles</p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-top pt-3">
                    <div class="d-flex flex-wrap align-items-center me-2">
                        <h5 class="text-primary">$650 <span class="fs-14 text-gray-6 fw-normal">/ day</span></h5>
                    </div>
                    <div class="d-flex align-items-center lh-1">
                        <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Flight Grid -->
    
    <div class="col-md-12">
        <!-- Pagination -->
        <nav class="pagination-nav">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0);">4</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" aria-label="Next">
                        <span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /Pagination -->
    </div>          
</div>