<div class="main-header main-header-four">


  <header [ngClass]="{ 'fixed': isFixed }">
    <div [ngClass]="base ==='index-1' ? 'container-fluid' : 'container'">
      <div class="offcanvas-info" [ngClass]="{ 'show': show }">
        <div class="offcanvas-wrap">
          <div class="offcanvas-detail">
            <div class="offcanvas-head">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <a [routerLink]="routes.index" class="black-logo-responsive">
                  <img src="assets/img/travvellis-logo1.png" alt="logo-img">
                </a>
                <a [routerLink]="routes.index" class="white-logo-responsive">
                  <img src="assets/img/travvellis-logo1.png" alt="logo-img">
                </a>
                <div class="offcanvas-close" (click)="closeMenu()">
                  <i class="ti ti-x"></i>
                </div>
              </div>
              <div class="wishlist-info d-flex justify-content-between align-items-center">
                <h6 class="fs-16 fw-medium">Wishlist</h6>
                <div class="d-flex align-items-center">
                  <div class="fav-dropdown">
                    <a [routerLink]="routes.wishlist" class="position-relative">
                      <i class="isax isax-heart"></i><span class="count-icon bg-secondary text-gray-9">0</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile-menu fix mb-3" [ngClass]="{ 'mean-container': isMobileMenu }">
              <div class="mean-bar">
                <a href="#nav" class="meanmenu-reveal" style="right: 0px; left: auto; display: inline;">
                  <span><span>
                    <span></span>
                  </span></span>
                </a>
                <nav class="mean-nav">
                  <ul class="main-nav" style="display: none;" [ngClass]="{'active' : isDropdownOpen}">
                    @for (mainMenus of header; track $index; let i = $index) {

                      <ng-container>
                        @if(mainMenus.separateRoute){
                          <ng-container >
                            <li class="has-submenu megamenu active" [ngClass]="{'dropdown-opened' : isDropdownOpen}">
                              <a href="javascript:void(0);">
                                {{mainMenus.tittle}}
                                <i class="fa-solid fa-plus"></i>
                              </a>
                              <!--                                    <ul class="submenu mega-submenu" [ngStyle]="{ display: isDropdownOpen ? 'block' : 'none' }">-->
                              <!--                                        -->
                              <!--                                        <li>-->
                              <!--                                            <div class="megamenu-wrapper">-->
                              <!--                                                <div class="d-none d-lg-flex align-items-center justify-content-between flex-wrap">-->
                              <!--                                                    <h6 class="mb-3">Home Pages</h6>-->
                              <!--                                                    <a href="javascript:void(0);" class="btn btn-dark btn-md mb-3 text-white d-inline-block w-auto">Purchase Template</a>-->
                            <!--                                                </div>-->
                            <!--                                                <div class="row g-lg-4">-->
                            <!--                                                    <ng-container *ngFor="let menu of mainMenus.menu">-->
                            <!--                                                        <div class="col-lg-2">-->
                            <!--                                                            <div class="single-demo" [class.active]="base === menu.base">-->
                            <!--                                                                <div class="demo-img">-->
                            <!--                                                                    <a [routerLink]="menu.route"><img [src]="menu.img" class="img-fluid" alt="img" /></a>-->
                          <!--                                                                </div>-->
                          <!--                                                                <div class="demo-info">-->
                          <!--                                                                    <a [routerLink]="menu.route">{{menu.homeName}}</a>-->
                        <!--                                                                </div>-->
                      <!--                                                            </div>-->
                    <!--                                                        </div>-->
                  <!--                                                        </ng-container>-->
                <!--                                                </div>-->
              <!--                                            </div>-->
            <!--                                        </li>-->
          <!--                                    </ul>-->
          <a class="mean-expand" href="javascript:void(0);" style="font-size: 18px" [ngClass]="{'mean-clicked' : isDropdownOpen}" (click)="openSubMenu()"><i class="ti ti-plus"></i></a>
        </li>
      </ng-container>
    }
    @if(!mainMenus.separateRoute){
      <ng-container>
        <li class="has-submenu mega-innermenu" [class.active]="base === mainMenus.base || page===mainMenus.base" [ngClass]="{'dropdown-opened' : openDropdownIndex === i}">
          <a href="javascript:void(0);">{{mainMenus.tittle}}<i class="fa-solid fa-plus"></i></a>
          <ul class="submenu mega-submenu" [ngStyle]="{ display: openDropdownIndex === i ? 'block' : 'none' }">
            <li>
              <div class="megamenu-wrapper">
                <div class="row">
                  <div class="col-lg-6">
                    <h6>{{mainMenus.tittle}}</h6>
                    <ul style="display: none;">
                      @for (menu of mainMenus.menu; track $index; let i = $index) {
                        <ng-container>
                          @if(mainMenus.twoTitle === false){
                            <ng-container>
                              <li><a  href="javascript:void(0)">{{menu.menuValue}}</a></li>
                            </ng-container>
                          }
                          @if(mainMenus.twoTitle === true){
                            <ng-container>
                              @if(menu.menuValue){
                                <ng-container>
                                  <li><a  href="javascript:void(0)">{{menu.menuValue}}</a></li>
                                </ng-container>
                              }
                            </ng-container>
                          }
                          @if(mainMenus.twoTitle === true){
                            <ng-container>
                              @if(menu.menuValue2){
                                <ng-container>
                                  <li><a  href="javascript:void(0)">{{menu.menuValue2}}</a></li>
                                </ng-container>
                              }
                            </ng-container>
                          }
                        </ng-container>
                      }
                    </ul>
                    <a class="mean-expand" href="javascript:void(0);" style="font-size: 18px"><i class="ti ti-plus"></i></a></div>
                    <div class="col-lg-6">
                      <div class="menu-img">
                        <img src="assets/img/menu/flight.jpg" alt="img" class="img-fluid">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <a class="mean-expand" href="javascript:void(0);" style="font-size: 18px" [ngClass]="{'mean-clicked' : openDropdownIndex === i}" (click)="toggleSubMenu(i)"><i class="ti ti-plus"></i></a>
          </li>
        </ng-container>
      }
    </ng-container>
  }
</ul>
</nav>
</div>
</div>

</div>
</div>
</div>
<div class="offcanvas-overlay" [ngClass]="{ 'overlay-open': show }" (click)="closeMenu()"></div>
<div class="header-nav">
  <div class="main-menu-wrapper">
    <div class="navbar-logo">
      <a class="logo-white header-logo" [routerLink]="routes.index">
        <img [src]=" base==='index-2' || base==='index-3' || base==='index-4' || base==='index-5'? 'assets/img/travvellis-logo1.png' :'assets/img/travvellis-logo1.png'" style="width:100px" class="logo" alt="Logo">
      </a>
      <a [hidden]="base==='index-6'" class="logo-dark header-logo" [routerLink]="routes.index">
        <img src="assets/img/travvellis-logo1.png" class="logo" style="width:100px" alt="Logo">
      </a>
    </div>
    <nav id="mobile-menu">
      <ul class="main-nav"[ngClass]="{ 'active': isHovered }">
        @for (mainMenus of header; track $index) {
          <ng-container>
            @if(mainMenus.separateRoute){
              <ng-container>
                <li class="has-submenu megamenu" [class.active]="base===mainMenus.base || base===mainMenus.base1 || base===mainMenus.base2 || base===mainMenus.base3 || base===mainMenus.base4 || base===mainMenus.base5 || base===mainMenus.base6" (mouseenter)="isHovered = true"  (mouseleave)="isHovered = false">
                  <a href="javascript:void(0);">{{mainMenus.tittle}} <i [ngClass]="base==='index'? 'fa-solid' : 'fa-solid fa-angle-down'"></i></a>
                  <!--                                <ul class="submenu mega-submenu">-->
                  <!--                                    <li>-->
                  <!--                                        <div class="megamenu-wrapper">-->
                  <!--                                            <div class="d-none d-lg-flex align-items-center justify-content-between flex-wrap">-->
                  <!--                                                <h6 class="mb-3">Home Pages</h6>-->
                  <!--                                                <a href="javascript:void(0);" class="btn btn-dark btn-md mb-3 text-white d-inline-block w-auto">Purchase Template</a>-->
                <!--                                            </div>-->
                <!--                                            <div class="row g-lg-4">-->
                <!--                                            <ng-container *ngFor="let menu of mainMenus.menu">-->
                <!--                                                <div class="col-lg-2">-->
                <!--                                                    <div class="single-demo" [class.active]="base === menu.base">-->
                <!--                                                        <div class="demo-img">-->
                <!--                                                            <a [routerLink]="menu.route"><img [src]="menu.img" class="img-fluid" alt="img" /></a>-->
              <!--                                                        </div>-->
              <!--                                                        <div class="demo-info">-->
              <!--                                                            <a [routerLink]="menu.route">{{menu.homeName}}</a>-->
            <!--                                                        </div>-->
          <!--                                                    </div>-->
        <!--                                                </div>-->
      <!--                                                </ng-container>-->
    <!--                                            </div>-->
  <!--                                        </div>-->
<!--                                    </li>-->
<!--                                </ul>-->
</li>
</ng-container>
}
@if(!mainMenus.separateRoute){
  <ng-container>
    @if(mainMenus.twoTitle === false){
      <ng-container>
        <li class="has-submenu mega-innermenu" [class.active]="base===mainMenus.base">
          <a [routerLink]="mainMenus.route">{{mainMenus.tittle}} <i [ngClass]="base==='index'? 'fa-solid fa-plus' : 'fa-solid fa-angle-down'"></i></a>
          <ul class="submenu mega-submenu">
            <li>
              <div class="megamenu-wrapper">
                <div class="row">
                  <div class="col-lg-6">
                    <h6>{{mainMenus.subTitle}}</h6>
                    <ul>
                      @for (menu of mainMenus.menu; track menu) {
                        <li [class.active]="base===menu.base || page === menu.base"><a [routerLink]="menu.route">{{menu.menuValue}}</a></li>
                      }
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <div class="menu-img">
                      <img [src]="mainMenus.img" class="img-fluid" alt="img" >
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ng-container>
    }
    @if(mainMenus.twoTitle === true){
      <ng-container>
        <li class="has-submenu mega-innermenu" [class.active]="base===mainMenus.base || base===mainMenus.base1 || base===mainMenus.base2">
          <a href="javascript:void(0);">{{mainMenus.tittle}} <i [ngClass]="base==='index'? 'fa-solid fa-plus' : 'fa-solid fa-angle-down'"></i></a>
          <ul class="submenu mega-submenu">
            <li>
              <div class="megamenu-wrapper">
                <div class="row g-lg-4">
                  <div class="col-lg-6">
                    <h6>{{mainMenus.subTitle}}</h6>
                    <ul>
                      @for (menu of mainMenus.menu; track $index) {
                        <ng-container>
                          @if(menu.menuValue){
                            <ng-container >
                              <li [class.active]="page===menu.base"><a [routerLink]="menu.route">{{menu.menuValue}}</a></li>
                            </ng-container>
                          }
                        </ng-container>
                      }
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <h6>{{mainMenus.subTitle2}}</h6>
                    <ul>
                      @for (menu of mainMenus.menu; track $index) {
                        <ng-container>
                          @if(menu.menuValue2){
                            <ng-container >
                              <li [class.active]="page===menu.base"><a [routerLink]="menu.route">{{menu.menuValue2}}</a></li>
                            </ng-container>
                          }
                        </ng-container>
                      }
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ng-container>
    }
  </ng-container>
}
</ng-container>
}

</ul>
</nav>
<!-- <div *ngIf="page === 'index-rtl' " class="header-btn d-flex align-items-center">
<div class="me-3">
  <a href="javascript:void(0);" id="dark-mode-toggle" class="theme-toggle" [ngClass]="{'activate' : isdark}" (click)="darkMode()" (click)="settings.changeThemeColor('1')">
    <i class="isax isax-moon"></i>
  </a>
  <a href="javascript:void(0);" id="light-mode-toggle" class="theme-toggle" [ngClass]="{'activate' : islight}" (click)="darkMode()" (click)="settings.changeThemeColor('2')">
    <i class="isax isax-sun-1"></i>
  </a>
</div>
<div><a href="javascript:void(0);" class="btn btn-white me-3" data-bs-toggle="modal" data-bs-target="#login-modal">Sign In</a></div>
<a [routerLink]="routes.becomeAnExpert" class="btn btn-primary me-0">Become Expert</a>
<div class="header__hamburger d-xl-none my-auto">
  <div class="sidebar-menu" (click)="addmenu()">
    <i class="isax isax-menu5"></i>
  </div>
</div>
</div> -->

@if (['index', 'index-2', 'index-3', 'index-4', 'index-5', 'index-6','pages'].includes(base) ) {
  <span>
    @if(base === 'index'){
      <div class="header-btn d-flex align-items-center">
        <div class="me-3">
          <a href="javascript:void(0);" id="dark-mode-toggle" class="theme-toggle" [ngClass]="{'activate' : isdark}" (click)="darkMode()" (click)="settings.changeThemeColor('1')">
            <i class="isax isax-moon"></i>
          </a>
          <a href="javascript:void(0);" id="light-mode-toggle" class="theme-toggle" [ngClass]="{'activate' : islight}" (click)="darkMode()" (click)="settings.changeThemeColor('2')">
            <i class="isax isax-sun-1"></i>
          </a>
        </div>
        <div><a href="javascript:void(0);" class="btn btn-white me-3" data-bs-toggle="modal" data-bs-target="#login-modal">Sign In</a></div>
        <a [routerLink]="routes.becomeAnExpert" class="btn btn-primary me-0">Become Expert</a>
        <div class="header__hamburger d-xl-none my-auto">
          <div class="sidebar-menu" (click)="addmenu()">
            <i class="isax isax-menu5"></i>
          </div>
        </div>
      </div>
    }
    @if(page==='index-rtl'){
      <div class="header-btn d-flex align-items-center">
        <div class="me-3">
          <a href="javascript:void(0);" id="dark-mode-toggle" class="theme-toggle" [ngClass]="{'activate' : isdark}" (click)="darkMode()" (click)="settings.changeThemeColor('1')">
            <i class="isax isax-moon"></i>
          </a>
          <a href="javascript:void(0);" id="light-mode-toggle" class="theme-toggle" [ngClass]="{'activate' : islight}" (click)="darkMode()" (click)="settings.changeThemeColor('2')">
            <i class="isax isax-sun-1"></i>
          </a>
        </div>
        <div class="btn btn-white ms-3"><a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#login-modal">Sign In</a> / <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#register-modal">Sign Up</a></div>
        <a [routerLink]="routes.becomeAnExpert" class="btn btn-primary me-0">Become Expert</a>
        <div class="header__hamburger d-xl-none my-auto">
          <div class="sidebar-menu">
            <i class="isax isax-menu5"></i>
          </div>
        </div>
      </div>
    }
  </span>
} @else {
  @if (base !== 'index' || page !== 'index-rtl') {
    <div  class="header-btn d-flex align-items-center" >
      <div class="me-3">
        <a href="javascript:void(0);" id="dark-mode-toggle" class="theme-toggle" [ngClass]="{'activate' : isdark}" (click)="darkMode()" (click)="settings.changeThemeColor('1')">
          <i class="isax isax-moon"></i>
        </a>
        <a href="javascript:void(0);" id="light-mode-toggle" class="theme-toggle" [ngClass]="{'activate' : islight}" (click)="darkMode()" (click)="settings.changeThemeColor('2')">
          <i class="isax isax-sun-1"></i>
        </a>
      </div>
      <div class="dropdown profile-dropdown">
        <a href="javascript:void(0);" class="d-flex align-items-center" data-bs-toggle="dropdown">
          <span class="avatar avatar-md">
            <img src="assets/img/users/user-05.jpg" alt="Img" class="img-fluid rounded-circle border border-white border-4">
          </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end p-3">
          <li>
            <a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2" [routerLink]="routes.userDashboard">Dashboard</a>
          </li>
          <li>
            <a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2" [routerLink]="routes.customerHotelBooking">My Booking</a>
          </li>
          <li>
            <a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2" [routerLink]="routes.myProfile">My Profile</a>
          </li>
          <li>
            <hr class="dropdown-divider my-2">
          </li>
          <li>
            <a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2" [routerLink]="routes.profileSettings">Settings</a>
          </li>
          <li>
            <a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2" [routerLink]="routes.login">Logout</a>
          </li>
        </ul>
      </div>
                            <a [routerLink]="base==='hotel' || page==='hotel-booking'?routes.addHotel:base==='car' 
                            || page==='car-booking'? routes.addCar:base==='flight' || page === 'flight-booking'? routes.addFlight:base==='cruise' 
                            || page === 'cruise-booking'? routes.addCruise:base==='tour' || page === 'tour-booking'? routes.addTour:routes.addHotel" 
        class="btn btn-primary me-0">
        Add Listing
      </a>
      <div class="header__hamburger d-xl-none my-auto">
        <div class="sidebar-menu">
          <i class="isax isax-menu5"></i>
        </div>
      </div>
    </div>
  }
}


</div>
</div>
</div>
</header>
</div>

<!-- Login Modal -->
<div class="modal fade" id="login-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center justify-content-end pb-0 border-0">
        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
        class="ti ti-x fs-20"></i></a>
      </div>
      <div class="modal-body p-4 pt-0">
        <form>
          <div class="text-center mb-3">
            <h5 class="mb-1">Sign In</h5>
            <p>Sign in to Start Manage your DreamsTour Account</p>
          </div>
          <div class="mb-2">
            <label class="form-label">Email</label>
            <div class="input-icon">
              <span class="input-icon-addon">
                <i class="isax isax-message"></i>
              </span>
              <input type="email" class="form-control form-control-lg" placeholder="Enter Email">
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label">Password</label>
            <div class="pass-group input-icon">
              <span class="input-icon-addon">
                <i class="isax isax-lock"></i>
              </span>
              <input
                [type]="password[0] ? 'text' : 'password'"
                class="pass-input form-control"
                placeholder="Enter Password"
                />
              <span
                class="isax toggle-password"
                [ngClass]="password[0] ? 'isax-eye' : 'isax-eye-slash'"
                (click)="togglePassword(0)"
                (keydown.enter)="togglePassword(0)"
                tabindex="0"
              ></span>
            </div>
          </div>
          <div class="mt-3 mb-3">
            <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-2">
              <div class="form-check d-flex align-items-center mb-2">
                <input class="form-check-input mt-0" type="checkbox" value="" id="remembers_me">
                <label class="form-check-label ms-2 text-gray-9 fs-14" for="remembers_me">
                  Remember Me
                </label>
              </div>
              <a href="javascript:void(0);" class="link-primary fw-medium fs-14 mb-2" data-bs-toggle="modal" data-bs-target="#forgot-modal">Forgot Password?</a>
            </div>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-xl btn-primary d-flex align-items-center justify-content-center w-100" data-bs-dismiss="modal">Login<i class="isax isax-arrow-right-3 ms-2"></i></button>
          </div>
          <div class="login-or mb-3">
            <span class="span-or">Or</span>
          </div>
          <div class="d-flex align-items-center mb-3">
            <a href="javascript:void(0);" class="btn btn-light flex-fill d-flex align-items-center justify-content-center me-2">
              <img src="assets/img/icons/google-icon.svg" class="me-2" alt="Img">Google
            </a>
            <a href="javascript:void(0);" class="btn btn-light flex-fill d-flex align-items-center justify-content-center">
              <img src="assets/img/icons/fb-icon.svg" class="me-2" alt="Img">Facebook
            </a>
          </div>
          <div class="d-flex justify-content-center">
            <p class="fs-14">Don't you have an account? <a href="javascript:void(0);" class="link-primary fw-medium" data-bs-toggle="modal" data-bs-target="#register-modal">Sign up</a></p>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- /Login Modal -->


<!-- Register Modal -->
<div class="modal fade" id="register-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center justify-content-end pb-0 border-0">
        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
        class="ti ti-x fs-20"></i></a>
      </div>
      <div class="modal-body p-4 pt-0">
        <form (ngSubmit)="onSubmit0()">
          <div class="text-center border-bottom mb-3">
            <h5 class="mb-1">Sign Up</h5>
            <p class="mb-3">Create your DreamsTour Account</p>
          </div>
          <div class="mb-2">
            <label class="form-label">Name</label>
            <div class="input-icon">
              <span class="input-icon-addon">
                <i class="isax isax-user"></i>
              </span>
              <input type="text" class="form-control form-control-lg" placeholder="Enter Full Name">
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label">Email</label>
            <div class="input-icon">
              <span class="input-icon-addon">
                <i class="isax isax-message"></i>
              </span>
              <input type="email" class="form-control form-control-lg" placeholder="Enter Email">
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label">Password</label>
            <div class="pass-group input-icon">
              <span class="input-icon-addon">
                <i class="isax isax-lock"></i>
              </span>
              <input
                [type]="password[1] ? 'text' : 'password'"
                class="pass-input form-control"
                placeholder="Enter Password"
                />
              <span
                class="isax toggle-password"
                [ngClass]="password[1] ? 'isax-eye' : 'isax-eye-slash'"
                (click)="togglePassword(1)"
                (keydown.enter)="togglePassword(1)"
                tabindex="0"
              ></span>
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label">Confirm Password</label>
            <div class="pass-group input-icon">
              <span class="input-icon-addon">
                <i class="isax isax-lock"></i>
              </span>
              <input
                [type]="password[2] ? 'text' : 'password'"
                class="pass-input form-control"
                placeholder="Enter Password"
                />
              <span
                class="isax toggle-password"
                [ngClass]="password[2] ? 'isax-eye' : 'isax-eye-slash'"
                (click)="togglePassword(2)"
                (keydown.enter)="togglePassword(2)"
                tabindex="0"
              ></span>
            </div>
          </div>
          <div class="mt-3 mb-3">
            <div class="d-flex">
              <div class="form-check d-flex align-items-center mb-2">
                <input class="form-check-input mt-0" type="checkbox" value="" id="agree">
                <label class="form-check-label ms-2 text-gray-9 fs-14" for="agree">
                  I agree with the <a href="javascript:void(0);" class="link-primary fw-medium">Terms Of Service.</a>
                </label>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-xl btn-primary d-flex align-items-center justify-content-center w-100" data-bs-dismiss="modal">Register<i class="isax isax-arrow-right-3 ms-2"></i></button>
          </div>
          <div class="login-or mb-3">
            <span class="span-or">Or</span>
          </div>
          <div class="d-flex align-items-center mb-3">
            <a href="javascript:void(0);" class="btn btn-light flex-fill d-flex align-items-center justify-content-center me-2">
              <img src="assets/img/icons/google-icon.svg" class="me-2" alt="Img">Google
            </a>
            <a href="javascript:void(0);" class="btn btn-light flex-fill d-flex align-items-center justify-content-center">
              <img src="assets/img/icons/fb-icon.svg" class="me-2" alt="Img">Facebook
            </a>
          </div>
          <div class="d-flex justify-content-center">
            <p class="fs-14">Already have an account? <a href="javascript:void(0);" class="link-primary fw-medium" data-bs-toggle="modal" data-bs-target="#login-modal">Sign In</a></p>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- /Register Modal -->

<!-- Change Password -->
<div class="modal fade" id="change-password">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center justify-content-end pb-0 border-0">
        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
        class="ti ti-x fs-20"></i></a>
      </div>
      <div class="modal-body p-4 pt-0">
        <form action="#">
          <div class="text-center border-bottom mb-3">
            <h5 class="mb-1">Change Password</h5>
            <p class="mb-3">Enter Details to Change Password</p>
          </div>
          <div class="mb-2">
            <label class="form-label">Password</label>
            <div class="pass-group input-icon">
              <span class="input-icon-addon">
                <i class="isax isax-lock"></i>
              </span>
              <input
                [type]="password[3] ? 'text' : 'password'"
                class="pass-input form-control"
                placeholder="Enter Password"
                />
              <span
                class="isax toggle-password"
                [ngClass]="password[3] ? 'isax-eye' : 'isax-eye-slash'"
                (click)="togglePassword(3)"
                (keydown.enter)="togglePassword(3)"
                tabindex="0"
              ></span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <div class="pass-group input-icon">
              <span class="input-icon-addon">
                <i class="isax isax-lock"></i>
              </span>
              <input
                [type]="password[4] ? 'text' : 'password'"
                class="pass-input form-control"
                placeholder="Enter Password"
                />
              <span
                class="isax toggle-password"
                [ngClass]="password[4] ? 'isax-eye' : 'isax-eye-slash'"
                (click)="togglePassword(4)"
                (keydown.enter)="togglePassword(4)"
                tabindex="0"
              ></span>
            </div>
          </div>
          <div class="mb-0">
            <button type="button" class="btn btn-xl btn-primary d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#login-password">Change Password<i class="isax isax-arrow-right-3 ms-2"></i></button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- /Change Password -->

<!-- Forgot Password -->
<div class="modal fade" id="forgot-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center justify-content-end pb-0 border-0">
        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
        class="ti ti-x fs-20"></i></a>
      </div>
      <div class="modal-body p-4 pt-0">
        <form action="#">
          <div class="text-center border-bottom mb-3">
            <h5 class="mb-1">Forgot Password</h5>
            <p>Reset Your DreamsTour Password</p>
          </div>
          <div class="mb-4">
            <label class="form-label">Email</label>
            <div class="input-icon">
              <span class="input-icon-addon">
                <i class="isax isax-message"></i>
              </span>
              <input type="email" class="form-control form-control-lg" placeholder="Enter Email">
            </div>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-xl btn-primary d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#change-password">Reset Password<i class="isax isax-arrow-right-3 ms-2"></i></button>
          </div>
          <div class="d-flex justify-content-center">
            <p class="fs-14">Remember Password ? <a href="javascript:void(0);" class="link-primary fw-medium" data-bs-toggle="modal" data-bs-target="#login-modal">Sign In</a></p>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- /Forgot Password -->